body {
    background-color: antiquewhite;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px 150px 20px 150px;
}

ul {
    font-size: 20px;
    display: inline-block;
}
ol {
    font-size: 20px;
    display: inline-block;
}

a {
    font-weight: bold;
    color: brown;
}